<div id="DivHeader">
  <h1>Kürzliche Bestellungen</h1>
  <div id="save-file-button" (click)="exportButtonClick()">
    <button>
      <mat-icon>local_printshop</mat-icon>
    </button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="header" scope="col">ID</th>
      <th class="header" scope="col">Kunde</th>
      <th class="header" scope="col">Kategorie</th>
      <th class="header" scope="col">Datum</th>
      <th class="header" scope="col">Menge</th>
      <th class="header" scope="col">Preis</th>
      <th class="header" scope="col">Pfand</th>
      <th class="header" scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of recentOrders()">
      <td>
        {{order.id}}
      </td>
      <td>
        {{order.customerId}}
      </td>
      <td>kategorie</td>
      <td>{{order.date | date : "dd.MM.yyyy HH:mm"}}</td>
      <td>{{order.amount}} kg</td>
      <td>{{order.price}} €</td>
      <td>{{order.deposit}} €</td>
      <td>
        {{ order.paidStatus === "false" ? "Nicht bezahlt" : "Bezahlt" }}
      </td>
    </tr>
  </tbody>
</table>