//Table Header Orange
.header {
    background-color: orange;
    color: white;
}

//Horizontal und Vertikal Centered Table Infos
th {
    text-align: center;
    vertical-align: middle;
}

//Horizontal und Vertikal Centered Table Infos
td {
    text-align: center;
    vertical-align: middle;
}

//Div mit H1 (Kürzliche Bestellungen) und Export Button
#DivHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}