<h1>Kürzliche Bestellungen</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Kunde</th>
      <th scope="col">Kategorie</th>
      <th scope="col">Datum</th>
      <th scope="col">Menge</th>
      <th scope="col">Preis</th>
      <th scope="col">Pfand</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of recentOrders()">
      <td>
        {{ order.id }}
      </td>
      <td>
        {{ order.customerId }}
      </td>
      <td>Kategorie to do</td>
      <td>{{ order.date | date : "dd.MM.yyyy HH:mm" }}</td>
      <td>{{ order.amount }} kg</td>
      <td>{{ order.price }} €</td>
      <td>{{ order.deposit }} €</td>
      <td>
        {{ order.paidStatus === "false" ? "Nicht bezahlt" : "Bezahlt" }}
      </td>
    </tr>
  </tbody>
</table>
