//Kunde: (Select Customer) 
#kunde-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    #kunde-label {
        margin-right: 2%;
    }

    #selectPerson {
        width: 40%;
        margin-right: 2%;
    }
}

//Export file:
#save-file-button {
    position: absolute;
    top: 1%;
    right: 1%;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        mat-icon {
            font-size: 24px;
        }
    }
}

//Sort buttons farbe
.sorting-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sorting-buttons button {
    color: black !important;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sorting-buttons button:hover {
    text-decoration: underline;
}

th .btn-link {
    color: black !important;
}

//Table Header Orange
.header {
    background-color: orange;
    color: white;
}

//Horizontal und Vertikal Centered Table Infos
th {
    //text-align: center;
    vertical-align: middle;
}

//Horizontal und Vertikal Centered Table Infos
td {
    //text-align: center;
    vertical-align: middle;
}

//Searchbar Teilstücke
#searchPartsDiv {
    margin-right: 2%;
}

//Searchbar Anmerkung
#searchNoteDiv {
    margin-right: 2%;
}

//Keine Ahnung
#category-button,
#notes {
    height: 10px;
}

#quantity {
    width: 5em;
}

#deposit {
    width: 5em;
}

#price {
    width: 5em;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
}

li.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
}

//rest
#category-button,
#notes {
    height: 10px;
}

#quantity {
    width: 5em;
}

#deposit {
    width: 5em;
}

#price {
    width: 5em;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;

}

li.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
}