//Kunde: (Select Customer) 
#kunde-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    #kunde-label {
        margin-right: 2%;
    }

    #selectPerson {
        width: 40%;
        margin-right: 2%;
    }
}

//Export file:
#save-file-button {
    position: absolute;
    top: 1%;
    right: 1%;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        mat-icon {
            font-size: 24px;
        }
    }
}

//Sort buttons farbe
.sorting-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sorting-buttons button {
    color: black !important;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sorting-buttons button:hover {
    text-decoration: underline;
}

th .btn-link {
    color: black !important;
}

//Table Header Orange
.header {
    background-color: orange;
    color: white;
}

//Horizontal und Vertikal Centered Table Infos
th {
    //text-align: center;
    vertical-align: middle;
}

//Horizontal und Vertikal Centered Table Infos
td {
    //text-align: center;
    vertical-align: middle;
}

//Searchbar Teilstücke
#searchPartsDiv {
    margin-right: 2%;
}

//Searchbar Customer
#serachCustomerDiv {
    margin-left: 0%;
    margin-right: 2%;
}

//Searchbar Anmerkung
#searchNoteDiv {
    margin-right: 0%;
}

//Verkaufstag infos
#infoDiv {
    margin-left: 0%;
}

//Keine Ahnung
#category-button,
#notes {
    height: 10px;
}

#quantity {
    width: 5em;
}

#deposit {
    width: 5em;
}

#price {
    width: 5em;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
}

li.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
}


//rest
#category-button,
#notes {
    height: 10px;
}

#quantity {
    width: 5em;
}

#deposit {
    width: 5em;
}

#price {
    width: 5em;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;

}

li.dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
}

/* Stile für die Ochsenliste und das Eingabefeld */

/* Stile für die Ochsenliste und das Eingabefeld */

// Stile für die Ochsenliste
.oxen-list {
    align-items: center;
    list-style-type: none; /* Entfernen der Standard-Punkte */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .oxText{
    align-items: center;
    display: flex;
    padding-right: 10px;
  }
  
  .ox-item {
    background-color: transparent; /* Transparenter Hintergrund */
    padding: 10px;
    margin-right: 10px;
 
    font-size: 14px;
    display: flex; /* Flexbox-Layout für zentrierte Ausrichtung */
    align-items: center; /* Zentrierte Ausrichtung vertikal */
  }
  .heading{
    align-items: center;
  }

  .ox-item:before {
    align-items: center;
    content: "🐂"; /* Ochsen-Emoji */
    margin-right: 5px; /* Abstand zwischen Emoji und Text */
    font-size: 30px;
  }
  
  // Stile für das Eingabefeld
  .ox-input-container {
    margin-top: 10px; /* Abstand zum vorherigen Element */

    display: flex;
     /* Flexbox-Layout */
  }
  .btn-plus {
    align-items: center;
    background-color: orange; /* Orange Hintergrund */
    border: none; /* Kein Rand */
    font-size: 20px; /* Kleinere Schriftgröße für das Pluszeichen */
    color: white; /* Textfarbe */
    cursor: pointer; /* Zeiger bei Hover */
    margin-top: 10px; /* Abstand nach oben */
    padding: 6px 10px; /* Anpassung des Innenabstands */
    height: auto; /* Automatische Höhe */
    align-self: flex-start; /* Ausrichtung am oberen Rand des Containers */
  }
  
// Stile für das Eingabefeld
.ox-input-container input {
    width: 200px; /* Breite des Eingabefelds */
    border: 1px solid #ff7f0e; /* Orange Border */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 8px; /* Innenabstand */
    font-size: 14px; /* Schriftgröße */
    max-width: 200px; /* Maximale Breite */
  }
  
  .ox-input-container button {
    background-color: #ff7f0e; /* Orange Hintergrund */
    border: 1px solid #ff7f0e; /* Orange Rand */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 8px 16px; /* Innenabstand */
    font-size: 14px; /* Schriftgröße */
    color: #fff; /* Textfarbe */
    cursor: pointer; /* Zeiger bei Hover */
    transition: background-color 0.3s, border-color 0.3s; /* Übergangseffekt */
    margin-left: 10px; /* Abstand zum Eingabefeld */
  }
  
  
  .ox-input-container button:hover {
    background-color: #e65c00; /* Dunklere Farbe beim Hover */
    border-color: #e65c00; /* Dunklere Randfarbe beim Hover */
  }
  
  