<body style="margin-left: 10px;">
<h1>Verkaufstag:  {{dataService.selectedSalesDay().name}}</h1>
<h5>am {{dataService.selectedSalesDayFormattedDate()}}</h5>



<table class="table-secondary">
        <tr>
        <!-- <td>
            Ochse 1 
        </td>
        <td>
            Ochse 2
        </td> -->

        <td> Oxe</td>
        <td>
            <button class="btn btn-success" (click)="addNameField($event.target)">
                +
            </button>
        </td>
    </tr>
</table>

<div>
    <label for="selectPerson">Kunde auswählen</label>
    <select (selectionchange)="customerChanged()"> 
        <option >TestKunde 1</option>
        <option >TestKunde 2</option>
        <option >TestKunde 3</option>

    </select>
    
</div>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Menge (kg)</th>
        <th scope="col">Anmerkung</th>
        <th scope="col">test</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
      </tr>
    </tbody>
  </table>
</body>