<body style="margin-left: 10px;">
<h1>Verkaufstag:  {{dataService.selectedSalesDay.value.name}}</h1>
<h5>am {{ dataService.getSalesDayDate(dataService.selectedSalesDay.value) }}</h5>


<table class="table-secondary">
        <tr>
        <!-- <td>
            Ochse 1 
        </td>
        <td>
            Ochse 2
        </td> -->

        <td> Oxe</td>
        <td>
            <button class="btn btn-success" (click)="addNameField($event.target)">
                +
            </button>
        </td>
    </tr>
</table>

<div style="display: flex;">
    <label for="selectPerson">Kunde</label>
    <select style="width: 20%;" class="form-select" (selectionchange)="customerChanged()"> 
        <option *ngFor="let customer of dataService.customers()" >
            {{customer.name}}
        </option>
        

    </select>
    
</div>


<table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Menge (kg)</th>
        <th scope="col">Anmerkung</th>
        <th scope="col">test</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
      </tr>
    </tbody>
  </table>
</body>