<body style="margin-left: 10px;">
  <div>
    <!-- Verkaufstag anzneige -->
    <h1>Verkaufstag: {{dataService.selectedSalesDay.value.name}}</h1>
    <h5>{{ dataService.getSalesDayDate(dataService.selectedSalesDay.value) | date:'dd.MM.YYYY' }}</h5>

    <!-- Save File todo -->
    <div id="save-file-button" (click)="handleButtonClick()">
      <button>
        <mat-icon>local_printshop</mat-icon>
      </button>
    </div>
  </div>

  <!-- Oxe mit Button -->
  <table class="table-secondary">
    <tr>
      <td> Oxe</td>
      <td>
        <button class="btn btn-success" (click)="addNameField($event.target)">
          +
        </button>
      </td>
    </tr>
  </table>

  <!-- Kunde mit Auswahl -->
  <div id="kunde-wrapper">
    <label id="kunde-label">Kunde:</label>
    <select id="selectPerson" class="form-select" [(ngModel)]="selectedCustomerId" (change)="customerChanged()">
      <option value="" disabled selected>Wählen Sie bitte einen Kunden:</option>
      <option *ngFor="let customer of dataService.customers()" [value]="customer.id">
        {{customer.name}}
      </option>
    </select>

    <!--Search Bar-->
    <div class="input-group rounded">
      <input id="searchNote" type="search" class="form-control rounded" placeholder="Suche nach Anmerkung"
        aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange()" />
      <span class="input-group-text border-0" id="search-addon">
        <mat-icon>search</mat-icon>
      </span>
    </div>
  </div>

  <!-- Show Tabel infos -->
  <table id="table" class="table table-hover">
    <thead>
      <tr>
        <th scope="col" (click)="sortBy('#')">ID <button class="btn btn-link"
            (click)="toggleSortDirection('#')">{{getSortIcon('#')}}</button></th>
        <th scope="col" (click)="sortBy('Kategorie')">Kategorie <button class="btn btn-link"
            (click)="toggleSortDirection('Kategorie')">{{getSortIcon('Kategorie')}}</button></th>
        <th scope="col" (click)="sortBy('Menge')">Menge (kg) <button class="btn btn-link"
            (click)="toggleSortDirection('Menge')">{{getSortIcon('Menge')}}</button></th>
        <th scope="col" (click)="sortBy('Anmerkung')">Anmerkung <button class="btn btn-link"
            (click)="toggleSortDirection('Anmerkung')">{{getSortIcon('Anmerkung')}}</button></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div dropdown class="d-inline-block">
            <div class="dropdown">
              <button  class="btn btn-secondary dropdown-toggle" type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{selectedMeatPiece.name && selectedMeatPiece.name!.length > 1 ? selectedMeatPiece.name : 'Auswählen'}}

              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li *ngFor="let category of dataService.categories()" class="dropdown-submenu"
                  (click)="$event.stopPropagation()">
                  <a class="dropdown-item" (click)="onCategorySelected(category)">{{category.name}}</a>
                  <ul [class.show]="selectedCategory === category" class="dropdown-menu dropdown-submenu">
                    <li *ngFor="let subcategory of selectedCategory?.subCategories" class="dropdown-submenu"
                      (click)="$event.stopPropagation()">
                      <a class="dropdown-item" (click)="onSubCategorySelected(subcategory)">{{subcategory.name}}</a>
                      <ul [class.show]="selectedSubCategory === subcategory" class="dropdown-menu dropdown-submenu">
                        <li *ngFor="let meatpiece of selectedSubCategory?.meatPieces">
                          <a class="dropdown-item" (click)="onMeatPieceSelected(meatpiece)">{{meatpiece.name}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </td>

        <td>
          <input [(ngModel)]="quantity" type="number" class="form-control" id="quantity" placeholder="0.0">
        </td>
        <td>
          <textarea id="notes" class="form-control" rows="1" style="height: 36px; overflow-y: hidden;"
            oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"
            [(ngModel)]="notes"></textarea>
        <td>
          <button class="btn btn-success" (click)="addOrder()">
            +
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let category of dataService.categories()" class="dropdown-submenu"
              (click)="$event.stopPropagation()">
              <a class="dropdown-item" (click)="onCategorySelected(category)">{{category.name}}</a>
              <ul [class.show]="selectedCategory === category" class="dropdown-menu dropdown-submenu">
                <li *ngFor="let subcategory of selectedCategory?.subCategories" class="dropdown-submenu"
                  (click)="$event.stopPropagation()">
                  <a class="dropdown-item" (click)="onSubCategorySelected(subcategory)">{{subcategory.name}}</a>
                  <ul [class.show]="selectedSubCategory === subcategory" class="dropdown-menu dropdown-submenu">
                    <li *ngFor="let meatpiece of selectedSubCategory?.meatPieces">
                      <a class="dropdown-item" (click)="onMeatPieceSelected(meatpiece)">{{meatpiece.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
      <!-- Orders werden in Liste geladen -->
      <tr *ngFor="let order of filterOrders()">
        <td>{{order.id}}</td>
        <td>{{dataService.getMeatPieceFromID(order.meatPieceId!)?.name}}</td>
        <td>{{order.amount}}</td>
        <td>{{order.notes}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteOrder(order)">
            -
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</body>