.conOverview {
  display: flex;
  max-width: 100%;
  height: 100%;
}

.main-content {
  /* Adjust the styles for the main content area */
  flex: 1;
  /* Add any other styles you want for the main content container */
}

.active-link {
  color: #fcaf00ff;
}

.sidebar {
  background: #f1f2f6 !important;
}

//colors:
// $white: #FFFFFFff;
// $onyx: #404142ff;
// $antiflash-white: #F2F3F6ff;
// $antiflash-white-2: #F1F2F6ff;
// $selective-yellow: #FCAF00ff;

