<div class="container title">Statistiken</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-3 mb-md-0 d-flex justify-content-start">
      <label for="start" class="me-2">Von:</label>
      <input [(ngModel)]="selectedStartDate" (ngModelChange)="dateChanged()"  type="date" class="form-control">
    </div>
    <div class="col-md-6 col-sm-12 d-flex justify-content-start justify-content-md-end">
      <label for="end" class="me-2">Bis:</label>
      <input [(ngModel)]="selectedEndDate" (ngModelChange)="dateChanged()"  type="date" class="form-control">
    </div>
  </div>
</div>

<div class="container cards">
  <div class="card card-yellow">
    <div class="card-icon">🛒</div>
    <div class="card-title">Bestellungen</div>
    <div class="card-value">{{totalSales}}</div>
  </div>
  <div class="card card-red">
    <div class="card-icon">💰</div>
    <div class="card-title">Umsatz</div>
    <div class="card-value">{{revenue}}€</div>
  </div>
  <div class="card card-green">
    <div class="card-icon">👛</div>
    <div class="card-title">Unbezahlte Bestellungen</div>
    <div class="card-value">{{unpaidOrders}}</div>
  </div>
</div>