<html>

<body>
  <div class="container">
    <div class="title">Statistiken</div>
    <div class="filter">
      <div class="filter-label"></div>
      <select class="filter-select">
        <option>Letzte 30 Tage</option>
        <option>Letzte 7 Tage</option>
        <option>Heute</option>
      </select>
    </div>
    <div class="cards">
      <div class="card card-yellow">
        <div class="card-icon">🛒</div>
        <div class="card-title">Bestellungen</div>
        <div class="card-value" >{{totalSales}}</div>
      </div>
      <div class="card card-red">
        <div class="card-icon">💰</div>
        <div class="card-title">Umsatz</div>
        <div class="card-value">{{revenue}}€</div>
      </div>
      <div class="card card-green">
        <div class="card-icon">👛</div>
        <div class="card-title">Einnahmen</div>
        <div class="card-value">.....</div>
      </div>
    </div>
  </div>
</body>
</html>
