<!--
<div style="margin-bottom: 30px;" class="row row-cols-1 row-cols-md-6 g-6">
  <app-single-category-info *ngFor="let category of dataService.categories()" [category]="category"
    (click)="categoryClicked(category)">
  </app-single-category-info>
</div>
-->

<table id="table" class="table table-hover">
  <thead>
    <tr>
      <th class="header" scope="col">
        Kategorie
      </th>
      <th class="header" scope="col">
        Bestand
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of dataService.categories()">
      <td (click)="toggleCategory(category)">
        {{ category.name }}
        <ul *ngIf="selectedCategory === category">
          <li *ngFor="let item of getItemsForCategory(category)">
            {{ item }}
          </li>
        </ul>
      </td>
      <td>{{stockByCategory[category.id!]}}</td>
    </tr>
  </tbody>
</table>