/* sales-day-info.component.scss */
.sales-day-box {
  margin-right: 10px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  
    .info-item {
      margin-bottom: 10px;
    }
  }
  