<div class="container-fluid text-center mt-4">
  <label style="color: orange; font-weight: bold; font-size: 1.5em;">
    Innviertler Gauchos
  </label>
</div>

<body class="bg-light d-flex align-items-center justify-content-center">
  <ul class="list-unstyled text-left">
    <li class="mb-5">
      <div class="d-flex">
        <label (click)="forwardTo('dashboard')" class="d-flex align-items-center text-gray fw-bold text-decoration-none fs-5">
          <mat-icon class="me-2">dashboard</mat-icon>
          Dashboard
        </label>
      </div>
    </li>
    <li class="mb-5">
      <div class="d-flex">
        <label (click)="forwardTo('home')" class="d-flex align-items-center text-gray fw-bold text-decoration-none fs-5">
          <mat-icon class="me-2">home</mat-icon>
          Home
        </label>
      </div>
    </li>
    <li class="mb-5">
      <div class="d-flex">
        <label (click)="forwardTo('salesDays')" class="d-flex align-items-center text-gray fw-bold text-decoration-none fs-5">
          <mat-icon class="me-2">calendar_today</mat-icon>
          Verkaufstage
        </label>
      </div>
    </li>
    <li class="mb-5">
      <label (click)="forwardTo('customers')" class="d-flex align-items-center text-gray fw-bold text-decoration-none fs-5">
        <mat-icon class="me-2">person</mat-icon>
        Kunden
      </label>
    </li>
    <li class="mb-5">
      <label (click)="forwardTo('stockOverview')" class="d-flex align-items-center text-gray fw-bold text-decoration-none fs-5">
        <mat-icon class="me-2">book</mat-icon>
        Fleischbestand
      </label>
    </li>
  </ul>
</body>