.sidebar {
  font-family: Poppins;
  flex-direction: column;
  align-items: center;
  display: flex;
}

//innviertlerFauchos Header oben Links
#innviertlerFauchos {
  font-size: 20px;
}

//Ausrichtung von NavBar items
#navBarAlignment {
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  justify-content:
    flex-start;
  gap: 60px;
  color: #404142ff;
  position: relative;
}

.navbar-nav {
  width: 100%;
  margin-top: 300px; //muss noch geändert werden von px auf responsive wert
  margin-bottom: auto;
}

.nav-item {
  width: 100%;
}

.nav-link {
  text-decoration: none;
  width: auto;
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 17px;
}

.active-link {
  color: #fcaf00ff;
  margin-right: -13%;
  border-right: 3px solid #fcaf00ff;
}