//Table Header Orange
.header {
    background-color: orange;
    color: white;
}

//Horizontal und Vertikal Centered Table Infos
th {
    text-align: center;
    vertical-align: middle;
}

//Horizontal und Vertikal Centered Table Infos
td {
    text-align: center;
    vertical-align: middle;
}

#addButton {
    width: 250px;
    margin-right: -10px;
}