<h1>{{dataService.selectedCustomer.value.name}}</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="header">ID</th>
            <th class="header">Kategorie</th>
            <th class="header">Menge (kg)</th>
            <th class="header">Preis (€)</th>
            <th class="header">Pfand (€)</th>
            <th class="header">Anmerkung</th>
            <th class="header">Bezahlt?</th>
            <th class="header"></th>
            <th class="header"></th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let order of customerOrders()">
            <td>{{order.id}}</td>
            <td>{{dataService.getMeatPieceFromID(order.meatPieceId!)?.name}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.price}}</td>
            <td>{{order.deposit}}</td>
            <td>{{order.notes}}</td>
            <td>{{order.paidStatus==='true'?'ja':'nein'}}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteOrder(order)">
                    Löschen
                </button>
            </td>
            <td>
                <button class="btn btn-success" (click)="payForOrder(order)">
                    €
                </button>
            </td>
        </tr>
    </tbody>
</table>