
<div  class="col">
    <div  class="card h-100">
      <img src="https://img.freepik.com/free-vector/abstract-minimal-white-background_23-2148887988.jpg?w=1060&t=st=1703333894~exp=1703334494~hmac=15f68c3ce86ae1f129e08e4148d966eaec36058ed117495411fdd35e1383862f" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{subCategory.name}}</h5>
        <p class="card-text"></p>
              <div style="display: flex;justify-content: space-between;">
          <!-- <button class="btn btn-secondary">Verkaufstag bearbeiten</button>
          <button  class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#exampleModal">
            Löschen
                
          </button> -->
     
        </div>
        
  
      </div>
    </div>
  </div>