.statistics-container {
  width: 50%;
  float: right;
}

.recent-orders {
  width: 100%;
  float: left;
}

.dashboardDiv {
  display: flex;
  justify-content: space-between;

  .recent-orders,
  .statistics-container {
    flex: 1;

  }
}